<div class="container">

  <nav>

    <ul>

      <li><a routerLink="/articles" routerLinkActive="active">Articles</a></li>
      <li><a routerLink="/articles/1" routerLinkActive="active">First Article</a> </li>

    </ul>

  </nav>

  <div>
    <input type="text" [(ngModel)] = "inputText" placeholder="Enter dog names"/>
  </div>
  <button type="button" (click)="addDog()">AddTheDog</button>

  <div *ngIf="arrayOfDogs.length >= 2">

    <div *ngFor="let dogs of arrayOfDogs">
    <app-dogs [dogName]="dogs"></app-dogs>
    </div>

    
  </div>


</div>

<router-outlet></router-outlet>